  $itemHeight : .40rem;

  html{
    margin: 0;
    padding: 0;
  }
  .buttons{
    font-size: .16rem;
  }
  input, textarea{
    width: 100%;
    box-shadow: 0 0 5px rgba(23, 136, 267, 0.8);
  }
  .display-board{
      display: flex;
      margin-top: .10rem;
      padding: 0 .10rem;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      min-height: $itemHeight;
      box-shadow: 0 0 2px 2px #ddd;
      & > li{
          list-style: none;
      }
  }
  li.item{
    height: $itemHeight;
    margin: .10rem 0;
    color: #222;
    font-size: .16em;
    line-height: $itemHeight;
    background-color: pink;
    animation: move .5s;
    span{
      padding: 0 .10rem;
      width: 100%;
      height: $itemHeight;
      line-height: $itemHeight;
    }
  }
  @keyframes move{
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }